# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
*.iml

# Vendor Files
node_modules/

# Debug Files
npm-debug.*

# Temp Files
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo



# Build Output files
target

src/main/resources/static/main.js
src/main/resources/static/main.js.map
src/main/resources/static/main.js.LICENSE.txt

src/main/resources/static/main.css
src/main/resources/static/main.css.map



keystore/
